@model MihailinStrikesBack.Models.User
@{
    ViewData["Title"] = "Удалить пользователя";
}

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<!--===============================================================================================-->


<body style="background-color:blueviolet">
    <form asp-action="delete" asp-controller="home">
        <div class="limiter" style="background-color:blueviolet">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">

                        <dl class="dl-horizontal">
                            <dt>Email</dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>Login</dt>
                            <dd>
                                @Html.DisplayFor(model => model.Login)
                            </dd>
                            <dt>Password</dt>
                            <dd>
                                @Html.DisplayFor(model => model.Password)
                            </dd>


                        </dl>


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Delete
                            </button>
                        </div>
                    </form>
    </form>
    </div>
    </div>
    </div>



</body>
