@model MihailinStrikesBack.Models.IndexViewModel
@{

}



<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<!--===============================================================================================-->

<body style="background-color:blueviolet">

    <form asp-action="postsother" asp-controller="home" class="text-center">
        <div class="limiter" style="background-color:blueviolet">

            <div class="container-login100">


                <table>
                    <tr>


                        <td>
                            <a>Title</a>
                        </td>
                        <td>
                            <a>Image</a>
                        </td>

                        <td>
                            <a>Message</a>
                        </td>
                        <td>
                            <a>Date</a>
                        </td>


                        @*<td>Password</td>*@
                        @*<td>Description</td>
                    <td>Birthdate</td>*@
                    </tr>
                    @foreach (var item in Model.Post2Sprav)
                    {
                        <tr class="wrap-login100">

                            <td>@item.Post_ID.Title</td>
                            <td><img src="@item.Image_ID.PathImage" width="120" height="120" /></td>
                            <td>@item.Post_ID.Message</td>
                            <td>@item.Post_ID.DatePost </td>


                        </tr>

                    }
                </table>

            </div>
            <div asp-action="ListUserReturn" asp-controller="home">
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" asp-action="ListUserReturn">
                        List of user's
                    </button>
                </div>
            </div>
        </div>

    </form>




</body>
